  

#trf_mascherine {
		
		opacity: 0;
		background-color: #ECF1F4;
		-webkit-transform: scale(0.9);
			 -moz-transform: scale(0.9);
				-ms-transform: scale(0.9);
				 -o-transform: scale(0.9);
						transform: scale(0.9);
		-webkit-transition: all 0.8s ease-in-out;
			 -moz-transition: all 0.8s ease-in-out;
				-ms-transition: all 0.8s ease-in-out;
				 -o-transition: all 0.8s ease-in-out;
						transition: all 0.8s ease-in-out;
	}
	#trf_mascherine.visible {
		
		opacity: 1;
		
		background-color: #ECF1F4;
		
		-webkit-transform: none;
			 -moz-transform: none;
				-ms-transform: none;
				 -o-transform: none;
						transform: none;
	}
	
	#trf_treni {
		
		opacity: 0;
		background-color: #ECF1F4;
		-webkit-transform: scale(0.9);
			 -moz-transform: scale(0.9);
				-ms-transform: scale(0.9);
				 -o-transform: scale(0.9);
						transform: scale(0.9);
		-webkit-transition: all 0.8s ease-in-out;
			 -moz-transition: all 0.8s ease-in-out;
				-ms-transition: all 0.8s ease-in-out;
				 -o-transition: all 0.8s ease-in-out;
						transition: all 0.8s ease-in-out;
	}
	#trf_treni.visible {
		
		opacity: 1;
		
		background-color: #ECF1F4;
		
		-webkit-transform: none;
			 -moz-transform: none;
				-ms-transform: none;
				 -o-transform: none;
						transform: none;
	}
	
	#trf_supermercati {
		
		opacity: 0;
		background-color: #ECF1F4;
		-webkit-transform: scale(0.9);
			 -moz-transform: scale(0.9);
				-ms-transform: scale(0.9);
				 -o-transform: scale(0.9);
						transform: scale(0.9);
		-webkit-transition: all 0.8s ease-in-out;
			 -moz-transition: all 0.8s ease-in-out;
				-ms-transition: all 0.8s ease-in-out;
				 -o-transition: all 0.8s ease-in-out;
						transition: all 0.8s ease-in-out;
	}
	#trf_supermercati.visible {
		
		opacity: 1;
		
		background-color: #ECF1F4;
		
		-webkit-transform: none;
			 -moz-transform: none;
				-ms-transform: none;
				 -o-transform: none;
						transform: none;
	}
	
	#cerchio, #cerchio2,#cerchio3,#cerchio4 {	position: absolute;
				
	}
	
	.cerchiombra { opacity:0.05;
					}
	
	
	/*.mascherine_img {
		width: 100%;
		opacity: 0;
		background-color: #ECF1F4;
		
		-webkit-transform: scale(0.9) ;
			 -moz-transform: scale(0.9);
				-ms-transform: scale(0.9);
				  -o-transform: scale(0.9);
						transform: scale(0.9);
		-webkit-transition: all 1s ease-in-out;
			 -moz-transition: all 1s ease-in-out;
				-ms-transition: all 1s ease-in-out;
				   -o-transition: all 1s ease-in-out;
						transition: all 1s ease-in-out;
						
	}
	.mascherine_img.visible {
		width: 100%;
		opacity: 1;
		background-color: #ECF1F4;
		
		-webkit-transform: none;
			 -moz-transform: none;
				-ms-transform: none;
				 -o-transform: none;
						transform: none;
	}
	*/
	
	/* .mascherine_img:nth-child(1){
		width: 100%;
		-webkit-transform: scale(2.2) translateX(-60%);
			 -moz-transform: scale(2.2) translateX(-60%);
				-ms-transform: scale(2.2) translateX(-60%);
				 -o-transform: scale(2.2) translateX(-60%);
						transform: scale(2.2) translateX(-60%);
		
		
	}*/
/*	.mascherine_img:nth-child(2) {
		width: 100%;
		
		-webkit-transform: scale(3) translateX(30%);
			 -moz-transform: scale(3) translateX(30%);
				-ms-transform: scale(3) translateX(30%);
				 -o-transform: scale(3) translateX(30%);
						transform: scale(3) translateX(30%);
		
	}*/